<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning with AWS</title>
</head>
<body>
<h1>Machine Learning with AWS</h1>
<form action = "" method="post">
    <input type="text" id="input_text" name="input_text" placeholder="input text">
    <select id="mySelect" name="selected Language">
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="pt">Portuguese</option>
        <option values="tr">Turkish</option>
    </select>
    <button type="submit"> Submit </button>
</form>
<p>Input: {{input}}</p>
<p>Selected lang: {{lang}}</p>
<p>Translate Text: {{translate}}</p>
<p>Sentiment Analysis</p>
<p>Positive Score: {{pos}}</p>
<p>Negative Score: {{neg}}</p>
<p>Netural Score: {{neu}}</p>    
</body>
</html>
